{% extends "base.html" %}
{% load wagtailimages_tags wagtailroutablepage_tags %}
{% block content %}
    
<div class="container mt-5">
    <h1>helloo </h1>
    <a href="{% routablepageurl page "latest_posts" %}">Anterior</a>
    {% for post in posts %}
        {% image post.articulo_image fill-500x300 as img %}
       <div class="row">
           <div class="col-sm-4 mb-2">
            <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
           </div>
           <div class="col-sm-8">
               <a href="{{post.url}}">{{post.custom_title}}</a>
           </div>
       </div>
    {% endfor %}
</div>
{% endblock content %}