{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

{% image self.banner_image fill-1500x500 as img %}
<div class="container-fluid" style=" background-size: cover; background-position:center center;"  >
    <h1 class="display-4">{{self.banner_title}}</h1>
    <p class="lead">{{self.banner_subtitle|richtext}}</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock%}